@inject IJSRuntime JsRun;
<button class="@className bt-styles" @onclick="_deshabilitarScroll">@Texto</button>
@if (Login && _panelHabilitado)
{

    <ModalLogin></ModalLogin>

}
else if (Login == false && _panelHabilitado)
{
    <ModalRegistro></ModalRegistro>
}

@code {
    [Parameter]
    public string Texto { get; set; }
    [Parameter]
    public bool Login { get; set; }

    protected override void OnInitialized() => className = (Login) ? "btn-registro" : "btn-login";
    private bool _panelHabilitado = false;
    private string className = string.Empty;
    private async Task _deshabilitarScroll()
    {
        await JsRun.DeshabilitarScroll(Login);
        _panelHabilitado = true;
    }
    private async Task _cerrarModal()
    {
        await JsRun.InvokeVoidAsync(identifier: "salirMenu.HabilitarScroll");
        _panelHabilitado = false;
    }
}
