@inject NavigationManager NavigationManager;
@inject I18nText trasnlator;
<section class="informacionCategoria">
    <h3 class="h6Font"></h3>
    <div class="centerCategorias">
        <section class="categoria-image">
        </section>
        <aside class="category-project">
            @foreach (KeyValuePair<string, string> item in _dicCategory)
            {
                <TarjetaCategoria TituloCategoria="@item.Key"
                                  Image="@item.Value">
                </TarjetaCategoria>
            }
        </aside>
    </div>
</section>

@code {
    private Dictionary<string, string> _dicCategory = new Dictionary<string, string>();
    private TextCategoriasIndex _txtCategoria = new TextCategoriasIndex();
    protected override async Task OnInitializedAsync()
    {
        _txtCategoria = await trasnlator.GetTextTableAsync<TextCategoriasIndex>(this);
        _estabelcerCategorias();
    }
    private void _estabelcerCategorias()
    {
        _dicCategory = new Dictionary<string, string>()
        {
            { _txtCategoria.Shop , "SupermarketsAndStores.svg"},
            {_txtCategoria.Motorcycle,"VehiclesAndMotorcycles.svg"},
            { _txtCategoria.Education, "education.svg"},
            { _txtCategoria.Transport, "Transport.svg"},
            { _txtCategoria.Environment,"Environment.svg"},
            { _txtCategoria.Photography,"Photography.svg"},
            { _txtCategoria.Commerce,"IndustryAndCommerce.svg"},
            { _txtCategoria.Veterinary,"Veterinary.svg"},
            { _txtCategoria.Farms,"AgricultureAndFarms.svg"},
            { _txtCategoria.Health, "HealthAndWellness.svg"},
            { _txtCategoria.Music,"MusicAndAudio.svg"},
            { _txtCategoria.Home,"RealEstateAndHome.svg"},
            { _txtCategoria.Libraries, "BooksAndLibraries.svg"},
            { _txtCategoria.Event,"EntertainmentAndEvents.svg"},
            { _txtCategoria.Travel,"TravelsAndTourism.svg"}
        };
    }
}
