@inject IJSRuntime JsRun;
<section class="displayIformation">
    <div>
        <button class="cancel" @onclick="_habilitarScroll"></button>
    </div>
    <div class="centerLogoModal">
        <h4 class="colorWelcom">Bienvenido</h4>
        <h6 class="estylosMs">@Mensaje</h6>
    </div>
</section>
@code {
    [Parameter]
    public string Mensaje { get; set; }
    private async Task _habilitarScroll()
    {
        await JsRun.InvokeVoidAsync(identifier: "salirMenu.HabilitarScroll");
    }
}
