<section>
    <h3 class="tituloAyudaUsuario">@Tittle</h3>
    <div>
        <img src="/images/img_helpUser/@Image" alt="img" class="img-userHelp" />
    </div>
    <p class="textoAyudaUsuario">@Descripcion</p>
    <!--<div>
        <img src="/images/img_helpUser/@ImageSecond" alt="img" class="img-userHelp" />
    </div>-->
    <p class="tipoLicencia"><strong>@tipoLicencia</strong></p>
</section>

@code {

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string ImageSecond { get; set; }

    [Parameter]
    public string Tittle { get; set; }

    [Parameter]
    public string Descripcion { get; set; }

    [Parameter]
    public string tipoLicencia { get; set; }
}
