<section class="contenedorAyudaUsu">
    <h3 class="tituloAyudaUsuario">@Tittle</h3>
    <div class="descriptionDiv">
        <p class="textoAyudaUsuario">@Descripcion</p>
    </div>
    <div class="imageDiv">
        <img src="/images/img_helpUser/@Image" alt="img" class="img-userHelp" />
    </div>
</section>

@code {

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string Tittle { get; set; }

    [Parameter]
    public string Descripcion { get; set; }
}
