@inject NavigationManager NavigationManager;
<section>
    <div class="positionFooter">
        <button @onclick="_redirectPage" class="btFooterOpt @ImgFooter"></button>
        <a class="footerRedirect" @onclick="_redirectPage">@LinkTitulo</a>
    </div>
    <p class="footerDescripcion">@Descripcion</p>
</section>
@code {
    [Parameter]
    public string LinkTitulo { get; set; }
    [Parameter]
    public string Descripcion { get; set; }
    [Parameter]
    public string ImgFooter { get; set; }
    private void _redirectPage()=> NavigationManager.NavigateTo("Nosotros");
}
