<div class="header">
    <div class="contenedorHeader">
        <a href="" class="LogoText" style="text-decoration: none">
            <div class="contenidoLogo">
                <img src="/images/S5.png" height="110" width="110" />
                <h1>SystemSp</h1>
            </div>
        </a>
        <div class="iconUsers">
            <!--<a class="iconHome
                <img src="/images/home.svg" height="45" width="45"/>
                <p>Inicio</p>
            </a>-->
            <div class="User">
                <nav class="navegation">
                    <ul class="botonUser">
                        <li>
                            <p class="perfilUser" href="#">M P</p>
                            <ul class="move">
                                <li><a href="#"><img src="/images/usuarioMenu.png" class="imgUsuario" /> Maicol P</a></li>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Opciones</a></li>
                                <li><a href="#">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@code {

}

