<section class="proyectoDetails colorCategoriAdmin">
    <div>
        <div class="postionName">
            <div class="circleProyect estadoCircle"></div>
            <div class="divFlexElements">
                <img src="/images/proyectosPortadas/" alt="imgProyect" class="imageProjectPublish" />
                <p class="textAlign" style="margin:3px">NombreProyecto</p>
            </div>
        </div>
        <div class="postionViews">
            <div class="viewDetails">
                <p class="p-no-margin">Descargas</p>
                <label>NumeroDescargas</label>
            </div>
            <div class="viewDetails">
                <p class="p-no-margin">Visitas</p>
                <label>NumeroVistas</label>
            </div>
        </div>
    </div>
</section>

@code {

}
