@inject IJSRuntime JSRun;
<div class="CategoriaAdminBorder @NameClassCategoria" id="divCard_@NumeroEntrada">
    <div>
        <p class="contenedorTitulo">@NombreTitulo</p>
    </div>
    <div>
        <span>
            <img id="ImageAdmin_@NumeroEntrada" src="/images/IconosCategorias/AdminIcons/@UrlImage"
                 style="opacity:@opacity" height="65" width="65" />
        </span>
    </div>
    <div>
        <p class="pDescirpcion">
           @MensajeDescripcion
        </p>
    </div>
    <div>
        <button id="botonAdmin_@NumeroEntrada" @onclick="HabilitarSeccion"class="botonInfoAdmin @ColorBoton">
            Consultar
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string NombreTitulo { get; set; }
    [Parameter]
    public EventCallback<int> OnClick { get; set; }
    [Parameter]
    public int NumeroEntrada { get; set; }

    private string UrlImage { get; set; }
    private bool BotonHabilitado = false;
    private string NameClassCategoria = "colorCategoriAdmin";
    private string opacity = "0.7";
    private string MensajeDescripcion = "";
    private string ColorBoton = "ColorBotonNoHanddler";
    private async Task HabilitarSeccion()
    {
        switch (NumeroEntrada)
        {
            case 0:
                UrlImage = "work.svg";
                break;
            case 1:
                UrlImage = "team.svg";
                break;
            case 2:
                UrlImage = "project.svg";
                break;
            case 3:
                UrlImage = "work.svg";
                break;
        }
        await JSRun.EjecutarJavaScriptFunc("tarjetasApp.CambiarBotones",
            NumeroEntrada.ToString());
        await OnClick.InvokeAsync(NumeroEntrada);
    }
    protected override void OnInitialized()
    {
        switch (NumeroEntrada)
        {
            case 0:
                UrlImage = "work.svg";
                ColorBoton = "ColorBotonHanddler";
                MensajeDescripcion = "Opciones generales del administrador";
                opacity = "1.0";
                break;
            case 1:
                NameClassCategoria = "colorCategoriaUnAdmin";
                UrlImage = "team-No.svg";
                opacity = "1.0";
                MensajeDescripcion = "Consultar los usuarios registrados en la plataforma";
                break;
            case 2:
                NameClassCategoria = "colorCategoriaUnAdmin";
                UrlImage = "project-No.svg";
                opacity = "1.0";
                MensajeDescripcion = "Consultar los proyectos y alojados en la plataforma";
                break;
            case 3:
                NameClassCategoria = "colorCategoriaUnAdmin";
                UrlImage = "work-No.svg";
                opacity = "1.0";
                MensajeDescripcion = "Estadisticas de los proyectos y usuarios de la aplicación";
                break;
        }
        base.OnInitialized();
    }
}
