<section class="UserAdminDetail colorCategoriAdmin">
    <div class="circleProyect estadoCircle"></div>
    <div class="divUserDetails">
        <div class="perfilUser">
            @Imagen
        </div>
        <div>
            <p>@UserName</p>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public string UserName { get; set; }
    [Parameter]
    public string Imagen { get; set; }
}
