@inject IBlazorDownloadFileService _downloadFileService;
@inject NavigationManager Navigator;

<section class="EstadisticasApp">
    <div class="informacionPosition">
        <div class="infoAdminProyecto">
            <div class="margin0">
                <p class="margin0 sizeProject">Usuarios registrado</p>
                <p class="margin0 sizeProject">10</p>
            </div>
            <span class="margin0">
                <img src="/images/IconosCategorias/AdminIcons/telescope.svg" height="60" width="60" />
            </span>
        </div>
        <div class="infoAdminProyecto">
            <div class="margin0">
                <p class="margin0 sizeProject">Proyectos Publicados</p>
                <p class="margin0 sizeProject">4</p>
            </div>
            <span class="margin0">
                <img src="/images/IconosCategorias/AdminIcons/innovation.svg" height="60" width="60" />
            </span>
        </div>
    </div>
    <section>
        <div>
            <h3>Ultimos Usuarios Registrados</h3>
            <TarjetaUsuario></TarjetaUsuario>
        </div>
        <div>
            <h3></h3>
        </div>
        <button class="botonConatcto" @onclick="@(()=>Navigator.NavigateTo("DownloadPdf/index", true))">Descargar</button>
    </section>
</section>

@code {

}
