@inject I18nText serviceTranslator;
@inject NavigationManager Navigator;
@inject ProjectsApplication serviceConection;

<section class="EstadisticasApp">
    <section>
        <h3>Ultimos Usuarios Registrados</h3>
        <div class="elementsItemsUser">
            @foreach (var item in ltUsers)
            {
                <TarjetaUsuario Imagen="@item.UserImage"
                                UserName="@item.UserName"></TarjetaUsuario>
            }
        </div>
    </section>
</section>

@code {
    List<UserInformation> ltUsers = new List<UserInformation>();
    TextAdminPage _txtAdmin = new TextAdminPage();
    protected override async Task OnInitializedAsync()
    {
        _txtAdmin = await serviceTranslator.GetTextTableAsync<TextAdminPage>(this);
        ltUsers = await serviceConection.GetLastUsers();
    }
}
