@inject I18nText serviceTranslator;
@inject NavigationManager Navigator;
@inject ProjectsApplication serviceConection;

<section class="EstadisticasApp">
    <div class="informacionPosition">
        <div class="infoAdminProyecto">
            <div class="margin0">
                <p class="margin0 sizeProject">@_txtAdmin.RegistereUsers</p>
                <p class="margin0 sizeProject">@ltUsers.Count</p>
            </div>
            <span class="margin0">
                <img src="/images/IconosCategorias/AdminIcons/telescope.svg" height="60" width="60" />
            </span>
        </div>
    </div>
    <section>
        <h3>Ultimos Usuarios Registrados</h3>
        <div class="elementsItems">
            @foreach (var item in ltUsers)
            {
                <TarjetaUsuario Imagen="@item.UserImage"
                                UserName="@item.UserName"></TarjetaUsuario>
            }
        </div>
    </section>
</section>

@code {
    List<UserInformation> ltUsers = new List<UserInformation>();
    TextAdminPage _txtAdmin = new TextAdminPage();
    protected override async Task OnInitializedAsync()
    {
        _txtAdmin = await serviceTranslator.GetTextTableAsync<TextAdminPage>(this);
        ltUsers = await serviceConection.GetLastUsers();
    }
}
