<section class="ViewProjectFirst">
    <div class="containerBotonsSlider">
        <button class="back-boton-project arrowBoton"></button>
        <div class="containerSlider">
            <img src="/images/clay-banks-31l-8hY1mt4-unsplash.jpg" alt="sliderImage" class="imagasProject">
        </div>
        <button class="next-boton-project arrowBoton"></button>
    </div>
    <div class="containerDetails">
        <div class="contenedorDetalles">
            <p class="TituloProyecto">Titulo del proyecto</p>
            <label class="descripcionProject">
                Croacia es un país de Europa Oriental con una larga costa
                en el mar Adriático. Incorpora a más de 1,000
                islas y lo cruzan los Alpes Dináricos. Su capital
                interior, Zagreb, es conocida por el barrio Gornji Grad
                (ciudad alta) y sus diversos museos. La principal ciudad
                costera, Dubrovnik, tiene murallas enormes que datan del siglo XVI
            </label>
        </div>
        <div>
            <div class="letterPerson">
                <label class="namePerson">GP</label>
            </div>
            <div>

            </div>
        </div>
        <div class="containerLinks">
            <p><a href="#" class="colorA">Descargar proyecto</a></p>
            <p><a href="#" class="colorA">Información de contacto</a></p>
        </div>
    </div>
</section>

@code {

}
