@inject IJSRuntime JsRun;
@inject I18nText serviceTranslator;
@inject SetChangeLanguage _changed;

<nav class="davCategorias">
    <div style="margin-right:5px">
        <button class="botonCategoriasMove backCategorias" @onclick="JsRun.MoverCategoriasIzquierda"></button>
    </div>
    <ol class="olElments" id="listaCategoriasApp">
        @foreach (var item in _categorias)
        {
            <li class="disFlex">
                <div class="categoriaSize">
                    <span class="borderImage">
                        <img src="/images/IconosCategorias/@item.ImageCategoria" class="imagesize" />
                    </span>
                    <p>@item.NombreCategoria</p>
                </div>
            </li>
        }
    </ol>
    <div style="margin-left:5px">
        <button class="botonCategoriasMove NextCategorias" @onclick="JsRun.MoverCategoriaDerecha"></button>
    </div>
</nav>

@code {

    private List<ListaCategoriaVista> _categorias = new List<ListaCategoriaVista>();
    protected override async Task OnInitializedAsync()
    {
        var text = await serviceTranslator.GetTextTableAsync<TextCategoriasIndex>(this);
        _categorias = _changed.GetListCategorys(text);
    }
}
