<div class="containerBotonsSlider">
    <button class="back-boton-project arrowBoton"
            @onclick="_backImage"></button>
    <div class="containerSlider">
        @if (Images.Count > 0)
         {
            <img src="@Images[_count]" alt="sliderImage" class="imagasProject">
         }
    </div>
    <button class="next-boton-project arrowBoton"
            @onclick="_nextImage"></button>
</div>

@code {
    [Parameter]
    public List<string> Images { get; set; } = new List<string>();

    private int _count = 0;
    private void _nextImage()
    {
        if (_count < Images.Count - 1)
            _count++;
        else
            _count = 0;
    }

    private void _backImage()
    {
        if (_count == 0)
            _count = Images.Count - 1;
        else
            _count--;
    }

    protected override void OnInitialized()
    {
        _count = 0;
    }
}
