<div class="background-categorias" @onclick="@(()=>_handlerImage(true))">
    <div class="divCotegoria">
        <div class="tajeta_categoriaSolicitud">
            <span class="centerSpan">
                <img src="/images/IconosCategorias/@Image" class="IMG_CategoriaInferior" alt="categoria">
            </span>
            <div>
                <p class="estiloText">@TituloCategoria</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public string TituloCategoria { get; set; }
    [CascadingParameter]
    public bool Cambiar { get; set; }

    private int _entrada = 1;
    private void _handlerImage(bool estado)
    {
        if (estado && _entrada == 1)
        {
            Image = $"IconosColor/{Image}";
            _entrada = 0;
            Cambiar = true;
        }
    }
}