@inject I18nText serviceTranslator;
<section class="sectionCategoriasVista">
    <div class="divCategorys">
        @foreach (var item in solicituds)
        {
            <TarjetaCategoriaSolicitud IndexCategoria="@item.IdCategoria"
                                       NombreTitulo="@item.Nombre"
                                       Onclick="_categoryHandler"
                                       UrlImage="@item.UrlImage">
            </TarjetaCategoriaSolicitud>
        }
        <div>
            <div class="infoProject">
                <h3 class="h6Font">@_txtViewPage.TitleList</h3>
            </div>
            <CardsSolicitud></CardsSolicitud>
        </div>
    </div>
    <div>
        <TarjetaInformacionSolicitud></TarjetaInformacionSolicitud>
    </div>
</section>

@code {
    List<PopularCategory> solicituds = new List<PopularCategory>();

    private void _categoryHandler(int indexSalida)
    {

    }
    protected override void OnInitialized()
    {
        var categoria = new PopularCategory()
        {
            Nombre = "Educación",
            UrlImage = "education.svg",
            IdCategoria = 1
        };
        var categoria2 = new PopularCategory()
        {
            Nombre = "Industria y Comercio",
            UrlImage = "IndustryAndCommerce.svg",
            IdCategoria = 2
        };
        var categoria3 = new PopularCategory()
        {
            Nombre = "Herramientas y Productividad",
            UrlImage = "ToolsAndProductivity.svg",
            IdCategoria = 3
        };
        var categoria4 = new PopularCategory()
        {
            Nombre = "Entretenimiento y Eventos",
            UrlImage = "EntertainmentAndEvents.svg",
            IdCategoria = 4
        };
        solicituds.Add(categoria);
        solicituds.Add(categoria2);
        solicituds.Add(categoria3);
        solicituds.Add(categoria4);

        base.OnInitialized();
    }

    TextViewPage _txtViewPage = new TextViewPage();
    protected override async Task OnInitializedAsync()
    {
        _txtViewPage = await serviceTranslator.GetTextTableAsync<TextViewPage>(this);
    }
}
