@inject ProjectsApplication serviceConection;
@inject SetChangeLanguage lenguage;
@inject I18nText serviceTranslator;
<section class="sectionCategoriasVista">
    <div class="divCategorys">

        <CardsSolicitud></CardsSolicitud>
    </div>
    <div class="divFlexSolicitud">
        @foreach (var req in _listaSolicitud)
        {
            <TarjetaInformacionSolicitud Request="req"></TarjetaInformacionSolicitud>
        }
    </div>
</section>

@code {
    private List<PopularCategory> solicituds = new List<PopularCategory>();
    private List<RequestData> _listaSolicitud = new List<RequestData>();

    private void _categoryHandler(int indexSalida)
    {

    }
    protected override void OnInitialized()
    {
        solicituds = lenguage.GetPopularCategories();
    }

    TextViewPage _txtViewPage = new TextViewPage();
    protected override async Task OnInitializedAsync()
    {
        _txtViewPage = await serviceTranslator.GetTextTableAsync<TextViewPage>(this);
        _listaSolicitud = await serviceConection.GetDataFromService<List<RequestData>>(_listaSolicitud, "Request/GetFeaturedRequest");
    }
}
