@page "/"
@inject I18nText trasnlator;
<section>
    <BanerPrincipal></BanerPrincipal>
</section>
<CardsAyudaUsuario></CardsAyudaUsuario>
<section>
    <TarjetasPopulares></TarjetasPopulares>
</section>
<section>
    <div class="infoProject">
        <h3 class="h6Font">@_txtPage.PopularProyect</h3>
    </div>
    <CardProyectos TipoMenu="PgPrincipal"></CardProyectos>
</section>
<section>
    <div class="infoProject">
        <h3 class="h6Font">@_txtPage.PopularCategory</h3>
    </div>
    <CardsCategorias></CardsCategorias>
</section>
<section>
    <FooterContacto></FooterContacto>
</section>
@code
{
    TextIndexPage _txtPage = new TextIndexPage();
    protected override async Task OnInitializedAsync()
    {
        _txtPage = await trasnlator.GetTextTableAsync<TextIndexPage>(this);
    }
}
