@page "/"
<section>
    <BanerPrincipal></BanerPrincipal>
</section>
<section class="tarjetaAydua">
    <TarjetasInformacionAyuda TituloInformacion="Muestra tu idea"
                              DescripcionCard="Publica tu proyecto de formación y permite que aprendices
                             Sena y Empresas puedan visualizar tú idea.
                             Vinculaté con una empresa y accede al monitoreo de la
                             implemenatción del proyecto."
                              ImagePage="innovation.svg"
                              SubTitulo="Ver sugerencias"
                              TextoLink="¿Más información?">
    </TarjetasInformacionAyuda>
    <TarjetasInformacionAyuda TituloInformacion="Contribuye publicando tu proyecto"
                              ImagePage="framework.svg"
                              DescripcionCard="
                               Contribuye a la formación de futuros aprendices sena
                               permitiendo que otros usuarios puedan acceder a
                               la documentación y el codigo de tu proyecto."
                              SubTitulo="Detalle sobre el Software Libre"
                              TextoLink="¿Más información sobre los derecho del software?">
    </TarjetasInformacionAyuda>
    <TarjetasInformacionAyuda TituloInformacion="Contribuye publicando tu proyecto"
                              ImagePage="framework.svg"
                              DescripcionCard="
                               Contribuye a la formación de futuros aprendices sena
                               permitiendo que otros usuarios puedan acceder a
                               la documentación y el codigo de tu proyecto."
                              SubTitulo="Detalle sobre el Software Libre"
                              TextoLink="¿Más información sobre los derecho del software?">
    </TarjetasInformacionAyuda>
</section>
<section>
    <TarjetasPopulares></TarjetasPopulares>
</section>
<section>
    <div class="infoProject">
        <h3 class="h6Font">
            Proyectos destacados y populares
        </h3>
    </div>
    <CardProyectos TipoMenu="PgPrincipal"></CardProyectos>
</section>
<section>
    <CardsCategorias></CardsCategorias>
</section>
<section>
    <FooterPage></FooterPage>
</section>
@code
{

}
