@page "/"
<section>
    <BanerPrincipal></BanerPrincipal>
</section>
<section>
   <TarjetasInformacionAyuda></TarjetasInformacionAyuda>
</section>
<section>
    <TarjetasPopulares></TarjetasPopulares>
</section>
<section>
    <div class="infoProject">
        <h3 class="h6Font">
            Proyectos destacados y populares
        </h3>
    </div>
    <CardProyectos TipoMenu="PgPrincipal"></CardProyectos>
</section>
<section>
    <CardsCategorias></CardsCategorias>
</section>
<section>
    <FooterPage></FooterPage>
</section>
@code
{

}
