@page  "/Nosotros";
<div class="contenedorNosotros">
    <div class="aboutSystem">
        <span>
            <img class="imgLogo" src="/images/S4.png" height="150" width="65" />
        </span>
        <div class="textSystem">
            <p class="tituloSp">SystemSp</p>
            <div class="">
                <p class="parrafoSp">
                    ¡Te damos la bienvenida al mejor repositorio del Sena,
                    haras parte de nuestra gran comunidad, encontrando mas de 100 proyectos a tan solo
                    un click!<br /> ¿Que esperas para publicar tu proyecto?
                </p>
                <div class="contVacio">
                    <div class="vacio"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="misionVision">
        <div class="textMision">
            <p class="tituloMision">Misión</p>
            <div class="">
                <p class="parrafoMision">
                    ¡Te damos la bienvenida al mejor repositorio del Sena,
                    haras parte de nuestra gran comunidad, encontrando mas de 100 proyectos a tan solo
                    un click!<br /> ¿Que esperas para publicar tu proyecto?
                </p>
                <div class="contVacio">
                    <div class="vacio"></div>
                </div>
            </div>
        </div>
        <div class="textVision">
            <p class="tituloVision">Visión</p>
            <div class="">
                <p class="parrafoVision">
                    ¡Te damos la bienvenida al mejor repositorio del Sena,
                    haras parte de nuestra gran comunidad, encontrando mas de 100 proyectos a tan solo
                    un click!<br /> ¿Que esperas para publicar tu proyecto?
                </p>
                <div class="contVacio">
                    <div class="vacio"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="contQuien">
        <h1 class="quienSomos">¿Quienes Somos?</h1>
        <p class="parrafoQuien">
            SystemSp es un sistema de información que nace a raiz de un proyecto educativo de una sede
            del sena, para ser especificos en el Centro De Servicios Financieros (ADSI).
            <br />Conoce a nuestro equipo de trabajo.
        </p>
    </div>

    <div class="contenedorPersons">
        <div class="persons">
            <TarjetaIntegrantes NombrePersona="Ernesto Cajar"
                                Descripcion="Desarrollador full-stack">
            </TarjetaIntegrantes>
            <TarjetaIntegrantes NombrePersona="Michael Parra"
                                Descripcion="Desarrollador Front-End Y Back-End">
            </TarjetaIntegrantes>
            <TarjetaIntegrantes NombrePersona="Diego Martinez"
                                Descripcion="Diseñador web y logica">
            </TarjetaIntegrantes>
            <TarjetaIntegrantes NombrePersona="Jhon Murrillo"
                                Descripcion="Ingeniero de bases de datos">
            </TarjetaIntegrantes>
        </div>
    </div>
</div>
<FooterContacto></FooterContacto>
@code { }
