@page  "/Nosotros";
<header>
    <h2>Sobre Nosotros</h2>
</header>
<section class="containerPageAbout">
    <div class="cardAbout">
        <div>
            <h2 style="text-align: center;">Helsinki</h2>
            <label style="white-space:pre-line">
                Helsinki es el mayor centro político, educativo,
                financiero, cultural y de investigación,
                así como una de las ciudades más importantes del norte de Europa.
                Aproximadamente el 70 % de las empresas extranjeras que operan en
                Finlandia se han establecido en la región de Helsinki
            </label>
        </div>
        <div>
            <img src="/images/PageImage/team.jpg" class="imgAyuda" />
        </div>
    </div>
    <div class="persons">
        <TarjetaIntegrantes NombrePersona="Ernesto Cajar"
                            Descripcion="Soy una persona con dos piernas">
        </TarjetaIntegrantes>
        <TarjetaIntegrantes NombrePersona="Ernesto Cajar"
                            Descripcion="Soy una persona con dos piernas">
        </TarjetaIntegrantes>
        <TarjetaIntegrantes NombrePersona="Ernesto Cajar"
                            Descripcion="Soy una persona con dos piernas">
        </TarjetaIntegrantes>
        <TarjetaIntegrantes NombrePersona="Ernesto Cajar"
                            Descripcion="Soy una persona con dos piernas">
        </TarjetaIntegrantes>
    </div>
</section>
@code {

}
