@page "/PublicarProyecto";
@inherits LayoutComponentBase
<header>
    <HeaderApp></HeaderApp>
</header>

<section class="elements-body">
    <div class="div-usuario">
        <InformacionUsuario></InformacionUsuario>
    </div>
    <aside class="info-ayuda">
        <InformacionAyuda></InformacionAyuda>
    </aside>
    <section class="bodyPage">
        <div class="sec-opciones">
            <OpcionesProyecto OnClickOpcion="ClickHandler"></OpcionesProyecto>
        </div>
        <CascadingValue Value="ImagesFiles">
            <CascadingValue Value="Aprendices">
                <div class="setPage">
                    @switch (tipoOpcion)
                     {
                        case 0:
                            <div>
                                <InformacionContacto></InformacionContacto>
                                <FormularioAprendiz></FormularioAprendiz>
                            </div>
                            <div class="setOptions">
                                <div>

                                    <TarjetaAyudaUsuario Imagen="ToolSoftware.svg"
                                                         MensajeCard="Ayuda sobre como Publicar 
                                                         el proyecto"
                                                         SubTitulo="Click Aquí">
                                    </TarjetaAyudaUsuario>
                                    <TarjetaAyudaUsuario Imagen="project.svg"
                                                         MensajeCard="Implemente y escale
                                                                      aplicaciones e instancias
                                                                      de Windows Virtual
                                                                      Desktop"
                                                         SubTitulo="Windows Virtual Desktop">
                                    </TarjetaAyudaUsuario>
                                </div>
                                <section class="borderInformacion">
                                    <div class="infUpdate">
                                        <h3 class="colorNoti">Actualizar Proyecto</h3>
                                        <div class="detallesProyecto">
                                            <span class="nameProyect">
                                                Sort By
                                            </span>
                                        </div>
                                    </div>
                                    <TarjetaEditarProyecto TituloTarjeta="Información del proyecto"
                                                           LeadingImage="project.svg"
                                                           TipoTarjeta="info">
                                    </TarjetaEditarProyecto>
                                    <TarjetaEditarProyecto TituloTarjeta="Integrantes"
                                                           LeadingImage="team.svg"
                                                           TrailingImage="true"
                                                           TipoTarjeta="Team">
                                    </TarjetaEditarProyecto>
                                    <TarjetaEditarProyecto TituloTarjeta="Imagenes Interfaz"
                                                           LeadingImage="image.svg"
                                                           TrailingImage="true"
                                                           TipoTarjeta="Images">
                                    </TarjetaEditarProyecto>
                                    <TarjetaEditarProyecto TituloTarjeta="Archivos proyecto"
                                                           LeadingImage="folder.svg"
                                                           TrailingImage="true"
                                                           TipoTarjeta="file">
                                    </TarjetaEditarProyecto>
                                    <div style="height:2px">

                                    </div>
                                </section>
                            </div>
                            break;
                        case 1:
                            <p>Hola soy un </p>
                            break;
                     }
                </div>
            </CascadingValue>
        </CascadingValue>
    </section>
</section>
@code {
    [CascadingParameter]
    protected EInformacionArchivos ImagesFiles { get; set; } =
    new EInformacionArchivos()
    {
        Archivos = new List<EArchivosProjecto>(),
        ListaArchivos = new List<string>()
    };
    [CascadingParameter]
    protected List<EIntegrantesGaes> Aprendices { get; set; } =
        new List<EIntegrantesGaes>();

    private int tipoOpcion = 0;
    private void ClickHandler(int tipo)
    {
        tipoOpcion = tipo;
    }
}

