@inject IJSRuntime JsRun;
@inject I18nText serviceTranslator;
@inject SaveIFiles _service;
<section>
    <div class="elementsButton">
        <div class="CenterdivFlex">
            <label for="archivoDocumentos" class="custom-file-upload" style="margin-right:10px">
                <img src="images/img_proyect/folder.svg" class="imgFile" /> @_textPublicar.SelectFile
            </label>
            <span class="spanOculto" id="spanOcultoDocumento">
                <InputFile OnChange="GetFileProject" />
            </span>
            <TooltipApp MensajeToolTip="@_textPublicar.AddDocuments"></TooltipApp>
        </div>
        <div class="CenterdivFlex">
            <label for="archivoImage" class="custom-file-upload" style="margin-right:10px">
                <img src="images/img_proyect/image.svg" class="imgFile" />@_textPublicar.SelectImages
            </label>
            <span class="spanOculto" id="spanOcultoImages">
                <InputFile OnChange="GetImagesProject" />
            </span>
            <TooltipApp MensajeToolTip=@_textPublicar.AddImages></TooltipApp>
        </div>
    </div>
</section>

@code {
    [CascadingParameter]
    public FormProjectApp ProjectApp { get; set; }

    private TextPublicarPage _textPublicar = new TextPublicarPage();

    private async Task GetFileProject(IFileListEntry[] archivos)
    {
        IFileListEntry file = archivos.FirstOrDefault();
        if (file != null && file.Type.Contains("application/"))
        {
            string resultFile = await _service.SaveFiles(file);
            if (ProjectApp != null && resultFile != "NoK")
            {
            }
        }
        else
        {
            //MostarMensaje
        }
    }
    private async Task GetImagesProject(IFileListEntry[] archivos)
    {
        IFileListEntry file = archivos.FirstOrDefault();
        if (file != null && file.Type.Contains("image/"))
        {
            string imageBase64 = await _service.GetImages(file);
            if (ProjectApp != null && imageBase64 != "NoK")
            {
                ProjectApp.ImagesDataStream.Add(new ImagesData()
                {
                    ImageName  = file.Name,
                    ImageStream = imageBase64,
                    ImageType = file.Type
                });
            }
        }
        else
        {
            //MostarMensaje
        }
    }
    protected override async Task OnInitializedAsync()
    {
        _textPublicar = await serviceTranslator.GetTextTableAsync<TextPublicarPage>(this);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await JsRun.EjecutarJavaScriptFunc("CambiarIdInput");
    }
}
