<section class="contenedorTarjetasAyuda">
    <!--Tajeta 1-->
    <div class="contenerMensaje">
        <div class="headerDiv">

        </div>
        <div class="divCener">
            <p>RUTA DE APRENDIZAJE</p>
            <div class="colorStyle">
                Aspectos básicos de icrosoft 365
            </div>
            <p>4 h 11 min</p>
            <div class="chipsCenter">
                <div class="chipStyle">Microsoft Azure</div>
                <div class="chipStyle">Principal</div>
                <div class="chipStyle">Microsoft Office 365</div>
            </div>
        </div>
        <div class="footerDiv">

        </div>
    </div>
    <!--Tarjeta 2-->
    <div class="contenerMensaje">
        <div class="headerDiv">

        </div>
        <div class="divCener">
            <p>RUTA DE APRENDIZAJE</p>
            <div class="colorStyle">
                Aspectos básicos de icrosoft 365
            </div>
            <p>4 h 11 min</p>
            <div class="chipsCenter">
                <div class="chipStyle">Microsoft Azure</div>
                <div class="chipStyle">Principal</div>
                <div class="chipStyle">Microsoft Office 365</div>
            </div>
        </div>
        <div class="footerDiv">

        </div>
    </div>
    <!--Tarjeta 3-->
    <div class="contenerMensaje">
        <div class="headerDiv">

        </div>
        <div class="divCener">
            <p>RUTA DE APRENDIZAJE</p>
            <div class="colorStyle">
                Aspectos básicos de icrosoft 365
            </div>
            <p>4 h 11 min</p>
            <div class="chipsCenter">
                <div class="chipStyle">Microsoft Azure</div>
                <div class="chipStyle">Principal</div>
                <div class="chipStyle">Microsoft Office 365</div>
            </div>
        </div>
        <div class="footerDiv">

        </div>
    </div>
</section>

@code {

}
