<section>
    <div>
        <h4>Tecnologías Utilizadas</h4>
        <p>Selecciona las tecnologías utilizadas en el desarrollo 
            del Projecto projecto formativo</p>
    </div>
    <ol class="olTechFlex">
        <li>
            <TarjetaOpcionesTecnologia NombreOpcion="Front-End"
                                       DescripcionOpcion="Tecnologías utilizadas en el Front-end 
                                       de la aplicación"
                                       ImageCard="/images/PageImage/coding.svg">
            </TarjetaOpcionesTecnologia>
        </li>
        <li>
            <TarjetaOpcionesTecnologia NombreOpcion="Back-End"
                                       DescripcionOpcion="Tecnologías utilizadas en el Back-end 
                                       de la aplicación"
                                       ImageCard="/images/PageImage/api.svg">
            </TarjetaOpcionesTecnologia>
        </li>
        <li>
            <TarjetaOpcionesTecnologia NombreOpcion="Base De Datos"
                                       DescripcionOpcion="Tecnologías utilizadas en la capa de datos
                                       de la aplicación"
                                       ImageCard="/images/PageImage/data-processing.svg">
            </TarjetaOpcionesTecnologia>
        </li>
    </ol>
</section>

@code {

}
