<section class="estilosBordes" style="height:100%">
    <ol style="margin: 0; padding: 0;">
        <li class="liFlex">
            <button class="btn-ayuda botonUsuario " id="btn-ayuda"></button>
            <p>Ayuda</p>
        </li>
        <li class="liFlex">
            <button class="btn-copy botonUsuario" id="btn-copy"></button>
            <p>Condiciones de Uso</p>
        </li>
    </ol>
</section>

@code {

}
