@inject I18nText ServiceTranslator;
<section>
    <ol class="optionsOL">
        <li>
            <button @onclick="()=>CambiarOpcion(0)" class="BotonInfoProdyecto @publicarClassName">@_textPublicar.PublishProject</button>
        </li>
        <li>
            <button @onclick="()=>CambiarOpcion(1)" class="BotonInfoProdyecto @novedadClassName">@_textPublicar.News</button>
        </li>
    </ol>
</section>

@code {
    private string novedadClassName = "btn-opcion-unluck";
    private string publicarClassName = "btn-opcion-luck";
    private int NumeroOpcion = 0;
    [Parameter]
    public EventCallback<int> OnClickOpcion { get; set; }

    TextPublicarPage _textPublicar = new TextPublicarPage();
    private async Task CambiarOpcion(int numeroAccion)
    {
        if (numeroAccion == 0)
        {
            novedadClassName = "btn-opcion-unluck";
            publicarClassName = "btn-opcion-luck";
            NumeroOpcion = 0;
        }
        else if (numeroAccion == 1)
        {
            novedadClassName = "btn-opcion-luck";
            publicarClassName = "btn-opcion-unluck";
            NumeroOpcion = 1;
        }
        await OnClickOpcion.InvokeAsync(NumeroOpcion);
    }
    protected override async Task OnInitializedAsync()
    {
        _textPublicar = await ServiceTranslator.GetTextTableAsync<TextPublicarPage>(this);
        base.OnInitializedAsync();
    }
}
