<section class="containerMsHelp">
    <div class="divMsHelp">
        <p>El Usuario no tienes proyectos publicados en la plataforma</p>
    </div>
    <div class="centerImageHelp">
        <img src="/images/PageImage/innovation.svg" class="imgHelp"/>
    </div>
</section>

@code {

}
