<section class="containerMsHelp">
    <div class="divMsHelp">
        <p>Agregar mensaje de que aun no se ha publicado nada</p>
    </div>
    <div class="centerImageHelp">
        <img src="/images/PageImage/innovation.svg" class="imgHelp"/>
    </div>
</section>

@code {

}
