<section class="tarjetasPosition">
    <div class="cardAppInfo estilosBordes">
        <p class="tituloInfo">Muestra tu idea</p>
        <span>
            <img src="/images/img_proyect/innovation.svg" height="75" width="75"/>
        </span>
        <div class="informacion-Proyecto">
            Publica tu proyecto de formación y permite que aprendices
            Sena y Empresas puedan visualizar tú idea.
            Vinculaté con una empresa y accede al monitoreo de la
            implemenatción del proyecto.
        </div>
        <div>
            <p class="sugerencias">Ver sugerencias</p>
        </div>
        <div>
            ¿Más información?
        </div>
    </div>
    <div class="cardAppData estilosBordes">
        <p class="tituloInfo">Contribuye publicando tu proyecto</p>
        <span>
            <img src="/images/img_proyect/framework.svg" height="75" width="75" />
        </span>
        <div class="informacion-Proyecto">
            Contribuye a la formación de futuros aprendices sena
            permitiendo que otros usuarios puedan acceder a la documentación y
            el codigo de tu proyecto.
        </div>
        <div>
            <p class="sugerencias">Detalle sobre el Software Libre</p>
        </div>
        <p style="text-align:center">
            ¿Más información sobre los derecho del software?
        </p>
    </div>
</section>
@code {

}
