@inject Lector lectura;
<section @onclick="@(()=>_habilitarModal = true)" class="sectionTegnologias">
    <div class="opcionesTegnologia">
        <div>
            <img src="/images/PageImage/@ImageCard" alt="imgaOpcion" width="50" height="50" />
        </div>
        <div>
            <p class="pTituloTech">@NombreOpcion</p>
        </div>
    </div>
    <div>
        <p class="pDescripcionTech">@DescripcionOpcion</p>
    </div>
</section>
@if (_habilitarModal)
 {
    <ModalTegnologiasApp CancelarCambio="_cancel"
                         GuardarCambios="_save"
                     TecnologiasApp="_tecnologiasApp"></ModalTegnologiasApp>
 }

@code {
    [Parameter]
    public string ImageCard { get; set; }
    [Parameter]
    public string NombreOpcion { get; set; }
    [Parameter]
    public string DescripcionOpcion { get; set; }
    [Parameter]
    public string Accion { get; set; }
    [CascadingParameter]
    public FormProjectApp ProjectApp { get; set; }

    private List<ETecnologiasApp> _tecnologiasApp = new List<ETecnologiasApp>();
    private bool _habilitarModal = false;
    private void _cancel(bool _canceled) => _habilitarModal = false;
    private void _save(string tecnology)
    {
        if(tecnology != "none")
            switch (Accion)
            {
                case "Front":
                    ProjectApp.TechFrontEnd = tecnology;
                    break;
                case "Back":
                    ProjectApp.TechBackEnd = tecnology;
                    break;
                case "DataBase":
                    ProjectApp.TechDataBase = tecnology;
                    break;
            }
        _habilitarModal = false;
    }

    protected override void OnInitialized()
    {
        _tecnologiasApp = lectura.GetTecnologiasApp(Accion);
        base.OnInitialized();
    }
}
