@inject Lector lectura;
<section @onclick="_mostrarModal" class="sectionTegnologias">
    <div class="opcionesTegnologia">
        <div>
            <img src="@ImageCard" alt="imgaOpcion" width="50" height="50" />
        </div>
        <div>
            <p class="pTituloTech">@NombreOpcion</p>
        </div>
    </div>
    <div>
        <p class="pDescripcionTech">@DescripcionOpcion</p>
    </div>
</section>
@if (_habilitarModal) 
 {
    <ModalTegnologiasApp 
                         CancelarCambio="Cancelar"
                         TecnologiasApp="_tecnologiasApp"></ModalTegnologiasApp>
 }

@code {
    [Parameter]
    public string ImageCard { get; set; }
    [Parameter]
    public string NombreOpcion { get; set; }
    [Parameter]
    public string DescripcionOpcion { get; set; }
    [Parameter]
    public string Accion { get; set; }

    private List<ETecnologiasApp> _tecnologiasApp = new List<ETecnologiasApp>();
    private bool _habilitarModal = false;
    private void _mostrarModal()
    {
        _habilitarModal = true;
    }
    private void Cancelar(bool _canceled) => _habilitarModal = false;
    protected override void OnInitialized()
    {
        _tecnologiasApp = lectura.GetTecnologiasApp("Front");
        base.OnInitialized();
    }
}
