<section class="containerMsHelp">
    <div class="divMsHelp">
        <p>El Usuario no tienes proyectos publicados en la plataforma</p>
    </div>
    <div class="centerImageHelp">
        <img src="/images/PageImage/innovation.svg" class="imgHelp"/>
    </div>
    <div class="disAround">
        <div>
            <TooltipRenderFragment MensajeToolTip="Publicar Proyecto Formativo">
                <button class="botonAyudaPublicar">+</button>
            </TooltipRenderFragment>
        </div>
        <div>
            <TooltipRenderFragment MensajeToolTip="Consultar Proyectos Formativos">
                <button class="botonAyudaConsulta">+</button>
            </TooltipRenderFragment>
        </div>
        <div>
            <TooltipRenderFragment MensajeToolTip="Ayuda sobre como publicar un proyecto formativo">
                <button class="botonAyudaProyecto">+</button>
            </TooltipRenderFragment>
        </div>
    </div>
</section>

@code {

}
