<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>PDf</title>
    <link rel="stylesheet" href="~/css/EstilosPDF.css" />
</head>
<body>
    <header>
        <div>
            <img src="/images/SystemLogo.svg" class="imagePDF" />
        </div>
        <h1 class="titulo">Informe Usuarios</h1>
    </header>
    <section class="firstContainerPDF">
        <div class="containerColor"></div>
        <div class="contenedorPdf">
            <div class="styleDivPerson margin-rigth">
                <span>B</span>
            </div>
            <div class="margin-rigth">
                <p class="no-margin-p">Breeg Benjamin</p>
                <p class="no-margin-p">Admin</p>
            </div>
            <div class="margin-rigth">
                <p class="no-margin-p">@DateTime.Now</p>
                <p class="no-margin-p">Fecha creación</p>
            </div>
            <div class="margin-rigth">
                <p class="no-margin-p">2</p>
                <p class="no-margin-p">Proyectos Publicados</p>
            </div>
        </div>
    </section>
</body>
</html>

@{
    Layout = null;
}
