@model  List<SystemSp.DTOS.EntitisProjectsApp.ReportApp>;

<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>PDf</title>
    <link rel="stylesheet" href="~/css/EstilosPDF.css" />
</head>
<body>
    <header>
        <div>
            <img src="/images/SystemLogo.svg" style="width:150px;height:150px">
        </div>
        <h2 style="color: rgba(46, 179, 255, 9)">Proyectos publicados en SystemSp</h2>
</header>
    <section>
        <table border="2" cellspacing="1">
            <thead>
                <tr>
                    <th>Nombre proyecto</th>
                    <th>Categoria</th>
                    <th>Fecha publicación</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreProyecto</td>
                        <td>@item.Categoria</td>
                        <td>@item.FechaPublicacion</td>
                        <td>@item.Ciudad</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</body>
</html>

@{
    Layout = null;
}
