@inject I18nText trasnlator;
<section class="menu-inicio">
    <div>
        <HeaderPagina></HeaderPagina>
    </div>
    <div class="divContainerBoton">
        <div class="containerText">
            <h1 class="bienvenida">Le damos la Bienvenida al repositorio de proyectos</h1>
            <p class="descripcionSystem">
                Encuentra los proyectos de software creados por los
                estudiantes Sena. Stratovarius es una banda finlandesa
                de power metal melódico con elementos de música clásica
                fundado en 1984 en Helsinki.
            </p>
        </div>
        <div>
            <BotonProyectos Texto="@_txtPage.Consult" Publicar="false"></BotonProyectos>
            <BotonProyectos Texto="Publicar" Publicar="true"></BotonProyectos>
        </div>
    </div>
</section>

@code {
    TextIndexPage _txtPage = new TextIndexPage();
    protected override async Task OnInitializedAsync()
    {
        _txtPage = await trasnlator.GetTextTableAsync<TextIndexPage>(this);
    }
}
