@inject NavigationManager NavigationManager;
<section class="informacionCategoria">
    <h3 class="h6Font">
        Categorias recomendadas para explorar
    </h3>
    <div class="centerCategorias">
        <section class="categoria-image">
        </section>
        <article class="category-project">
            @if (_llenar)
            {
                @foreach (var item in _categoria.CategoriasProyecto)
                {
                    <div class="background-categorias">
                        <div class="divCotegoria">
                            <div class="tajeta_categoria">
                                <span class="centerSpan">
                                    <img src="@item.ImgCategoria" class="IMG_CategoriaInferior" alt="categoria">
                                </span>
                                <div>
                                    <p class="estiloText">@item.TipoCategoria</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 }
             }
        </article>
    </div>
</section>

@code {
    private bool _llenar = false;
    private InformacionProyecto _categoria = new InformacionProyecto();
    protected override void OnInitialized()
    {
        _categoria = new Lector().ObtenerCategorias();
        if (_categoria.CategoriasProyecto != null)
            _llenar = true;
    }
}
