<footer class="footer-project">
    <section class="displeyFoot">
        <FooterCard LinkTitulo="Quienes somos!"
                    Descripcion="All new library management and
                                     friends features take your experience
                                     to the next level."
                    ImgFooter="resultadoFooter">
        </FooterCard>
        <FooterCard LinkTitulo="Enhanced experience"
                    Descripcion="All new library management and
                                     friends features take your experience
                                     to the next level."
                    ImgFooter="resultadoFooter">
        </FooterCard>
        <FooterCard LinkTitulo="Enhanced experience"
                    Descripcion="All new library management and
                                     friends features take your experience
                                     to the next level."
                    ImgFooter="resultadoFooter">
        </FooterCard>
    </section>
    <section class="displeyFoot2">
        <FooterCard LinkTitulo="Enhanced experience"
                    Descripcion="All new library management and
                                     friends features take your experience
                                     to the next level."
                    ImgFooter="resultadoFooter">
        </FooterCard>
        <FooterCard LinkTitulo="Enhanced experience"
                    Descripcion="All new library management and
                                     friends features take your experience
                                     to the next level."
                    ImgFooter="resultadoFooter">
        </FooterCard>
    </section>
</footer>
@code {
}
