<section class="info-Head headerPublciacion">
    <div>
        <img src="/images/PageImage/SystemLogo.svg" height="150" width="150" alt="logo" />
        <img src="/images/PageImage/SystemSPTxt.svg" height="200" width="200" alt="txtLogo"/>
    </div>
    <div class="userBotons">
        <BotonUsuario Texto="Login" Login="true"></BotonUsuario>
        <BotonUsuario Texto="Registro" Login="false"></BotonUsuario>
    </div>
    <section class="sect-flex" style="display:none">
        <label class="cerrar" id="labelCerrarSesion">Cerrar Sesión</label>
        <img src="/images/cancel.svg" class="cerrar" height="30" width="40" alt="cerrar">
    </section>
</section>
@code {

}
