<section class="cardAppInfo">
    <p class="tituloInfo">@TituloInformacion</p>
    <span>
        <img src="/images/img_proyect/@ImagePage" height="75" width="75" />
    </span>
    <div class="informacion-Proyecto">
        <p>@DescripcionCard</p>
    </div>
    <div>
        <p class="sugerencias">@SubTitulo</p>
    </div>
    <div class="borderDiv">
        <span style="margin-top:10px">
            <a class="linksEstile" href="#">@TextoLink</a>
        </span>
    </div>
</section>

@code {
    [Parameter]
    public string TituloInformacion { get; set; }
    [Parameter]
    public string ImagePage { get; set; }
    [Parameter]
    public string DescripcionCard { get; set; }
    [Parameter]
    public string SubTitulo { get; set; }
    [Parameter]
    public string TextoLink { get; set; }
}
