<div class="BotonLogoAPP">
    <img src="/images/S23.png" style ="height:@Height px; width:@Width px"/>
</div>
@code {

    [Parameter]
    public string Width { get; set; } =  "100";
    [Parameter]
    public string Height { get; set; } = "55";

}