<div class="BotonLogoAPP">
    <img src="/images/SystemLogo.svg" height="@Height" width="@Width"/>
</div>
@code {
    [Parameter]
    public string Width { get; set; } =  "100%";
    [Parameter]
    public string Height { get; set; } = "100%";

}