@inject IJSRuntime JsRun;
<section class="ModalOpcionesPage">
    <div class="ModalOpcionesConfiguraciones sizeModal">
        <div>
            <button class="cancel" @onclick="_habilitarScroll"></button>
        </div>
        @ChildContent
    </div>
</section>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await JsRun.DeshabilitarScrollApp();
    }

    [Parameter]
    public EventCallback<bool> ClickDisable { get; set; }

    private async Task _habilitarScroll()
    {
        await JsRun.InvokeVoidAsync(identifier: "salirMenu.HabilitarScroll");
        await ClickDisable.InvokeAsync(false);
    }
}
