<div class="@ClassName">
    <nav class="navegation">
        <ul class="botonUser">
            <li>
                @MainContent
                @ChildContent
            </li>
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public RenderFragment MainContent { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string ClassName { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        if (ClassName.Equals(string.Empty)) 
        {
            ClassName = "iconUsers";
        }
    }
}
