<div aria-label="@MensajeToolTip" data-microtip-position="bottom-left" 
     data-microtip-size="InfoToolTip" role="tooltip" height="30">
    <img src="images/img_proyect/information.svg" width="30" alt="ayuda" />
</div>

@code{
    [Parameter]
    public String MensajeToolTip { get; set; }
}