<div aria-label="@MensajeToolTip" data-microtip-position="bottom"
     data-microtip-size="InfoToolTip" role="tooltip" height="30" style="opacity: 0.6;">
    @ChildContent
</div>

@code{
    [Parameter]
    public String MensajeToolTip { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
