:root {
    --SombrasCaja: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    --Degradado: linear-gradient(to right top, #3cadf6, #00c1fa, #00d2ec, #00dfcc, #1ae9a1);
}
.adminPosition {
    background-color:#e8e9eb;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing:border-box;
    padding:20px;
    grid-gap:20px;
}
.opcionesAdmin {
    grid-column:2/3;
    grid-row:1/3;
}
.UsuAdmin {
    grid-column:1/2;
    grid-row:1/2;
}
.ayudaAdmin {
    grid-column: 1/2;
    grid-row: 2/3;
}
.colorCategoriAdmin {
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 #78DBF9;
}
.colorCategoriaUnAdmin {
    background-color: #FFF;
    box-shadow: var(--SombrasCaja);
}
.CategoriaAdminBorder {
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    transform: translateY(-4px);
    padding: 10px;
    height: 245px;
    width: 24%;
}
.pDescirpcion {
    margin: 0;
    text-align: center;
}
.botonInfoAdmin {
    border-radius: 50px;
    background-color: #FFF;
    cursor: pointer;
    outline: none;
    height: 35px;
    opacity:1;
    width: 140px;
}
    .botonInfoAdmin:hover {
        border: 1px solid #78DBF9;
        color: #78DBF9;
    }
.ColorBotonNoHanddler {
    border: 1px solid #cdcdcd;
}
.ColorBotonHanddler {
    border: 1px solid #78DBF9;
    color: #78DBF9;
}
    .setEstilos {
        display: flex;
        justify-content: space-between;
    }
.infoAdminProyecto {
    box-shadow: var(--SombrasCaja);
    background-image: var(--Degradado);
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    width: 25%;
}
.EstadisticasApp {
    box-sizing:border-box;
    padding:20px 0;
}
.informacionPosition {
    display: flex;
    justify-content: space-around;
}
.sizeProject {
      font-size: 1em;
}
.sobrasTarjetas {
    box-shadow: var(--SombrasCaja);
    background-color:#fff;
    border-radius:10px;
}
.graficosContenedor {
    box-sizing:border-box;
    padding-top:20px;
    display:grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows : max-content 1fr;
    grid-gap:20px;
}
.cardBar {
    grid-column:1/2;
    grid-row:2/3;
}
.flexContext {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 10px;
    grid-column:1/3;
    grid-row:1/2;
}
.cardPie {
    grid-column: 2/;
    grid-row: 2/3;
}
.opcionesDate {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    height: 80px;
    width: 24%;
}
.colorOpciones {
    height:4px;
    border-radius:0 0 10px 0;
}
.colorCircle {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50px;
    height:35px;
    width:35px;
}
.canvasBarra {
    height:100% !important;
    width:100% !important;
}