@import "EstilosAdmin.css";
@import "EstilosAboutUs.css";

/*Main css*/
:root {
    --SombrasCaja: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
body {
    margin:0;
    padding:0;
}
.mainPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 5px;
    height: 100vh;
}
.info-Head {
    box-sizing: border-box;
    height: 100px;
    padding: 0 50px 0 20px;
}
.userBotons {
    display:flex;
    grid-gap:10px;
    align-items:center;
    margin-right:40px;
}
.bt-styles {
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1em;
    height: 50px;
    outline-style: none;
    width: 135px;
}
.btn-registro {
    border: 0.7px solid #0e81df;
    border-bottom: 3px solid #0e81df;
}
.btn-registro:hover {
        border: 0.7px solid #8aa6bd;
        color: #8aa6bd;
        border-bottom: 3px solid #8aa6bd;
    }
.btn-login {
    border: 0.7px solid #1a1b1b;
    border-bottom: 3px solid #1a1b1b;
}
.btn-login:hover {
        border: 0.7px solid #8aa6bd;
        border-bottom: 3px solid #8aa6bd;
        color: #8aa6bd;
    }
.BotonLogoAPP {
    border:none;
    border-radius:50%;
    height:100px;
    width:100px;
}
.blazor-error-ui {
    display:none;
}
.menu-inicio {
    display: flex;
    flex-direction: column;
    background-image: url(../images/PageImage/SystemSPColors.svg);
    background-color: #0e81df;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: auto;
}
.divContainerBoton {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}
.containerText {
    text-align: center;
    color: #fff;
}
.bienvenida {
    font-size:1.7em;
    margin:0;
    padding:0;
}
.descripcionSystem {
    box-sizing: border-box;
    padding: 0 35%;
    text-align: center;
    white-space: pre-line;
}
.bt-ConsultaCrear {
    border: none;
    width: 240px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.4em;
    cursor: pointer;
    outline: none;
}
.btn-consulta {
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-bottom: 3px solid #E4E4E4;
}
    .btn-consulta:hover {
        color: #0e81df;
        transform: translateY(-2px);
    }
.btn-publicar {
    background-image: linear-gradient(to right top, #61edf9, #55e2fd, #54d6ff, #5dc9fe, #6cbcf9);
    border-bottom: 3px solid #61edf9;
    color: #fff;
    margin-left: 10px;
}
.btn-publicar:hover {
        transform: translateY(-2px);
    }
.targetas-populares {
    display: grid;
    box-shadow: var(--SombrasCaja);
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    width: 22%;
    margin: 10px;
}
.targetas-populares:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 3px 0 #0e81df;
    color: #379aeb;
}
.targetas-populares > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgTarjeta {
    border-radius: 10px 0 0 10px;
    height: 82px;
    width: 110px;
}
.card-project {
    margin: 15px;
}
.carteraCategorias {
    display:flex;
    justify-content: space-between;
}
.nav-menu-project {
    position: relative;
    padding: 0 100px;
}
.bt-back {
    background: url(../images/back.png) #ffffff;
    background-position: 12px 16px;
    position: absolute;
    margin-top: -50px;
    top: 53%;
}
.bt-next {
    background: url(../images/next.png) #ffffff;
    background-position: 15px 15px;
    position: absolute;
    margin-top: -50px;
    top: 53%;
}
.botonesSlider {
    border-radius: 50%;
    border: none;
    background-size: 40%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 3px 2px #cccccc;
    color: #000;
    height: 50px;
    outline-style: none;
    cursor: pointer;
    width: 50px;
    z-index: 10;
}
.plantillaProyect {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}
.card-Proyectos {
    display: grid;
    box-shadow: var(--SombrasCaja);
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 10px;
    height: 280px;
    margin: 11.5px;
}
.card-Proyectos:hover {
    transform: translateY(-4px);
}
.imgStateproject {
    height: 170px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.centerInfo > p {
    margin: 0;
    padding: 5px;
    text-align: center;
}
.centerInfo > div {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 10px;
}
.imgAuto {
    display: flex;
    align-items: center;
}
.imgAuto > span {
    margin-left: 10px;
    font-size: 0.7em;
}
.centerMessage {
    text-align:center;
    white-space:pre-line;
}
.personImg {
    border-radius: 100%;
    box-shadow: 3px 3px 10px 0px #cccccc;
    width: 50px;
    height: 50px;
}
.personName {
    border-radius: 100%;
    box-shadow: 3px 3px 10px 0px #cccccc;
    background-color:#CDCDCD;
    color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: bold;
    height: 50px;
    width: 50px;
}
.imgCategoria {
    height: 40px;
}
.h6Font {
    font-size: 1.2em;
}
.nav-project {
    display: grid;
    grid-row: 4/5;
    margin: 15px;
}
.IMG_CategoriaInferior {
    height: 35px;
    width: 40px;
}
.estiloText {
    font-size: 0.9em;
}
.divCotegoria {
    margin: 10px;
}
.tajeta_categoria {
    display: flex;
    align-items: center;
    height: 55px;
    width: 205px;
}
.centerSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tajeta_categoria:hover {
        box-sizing: border-box;
        padding: 2px;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 3px;
        transform: translateY(-3px);
        box-shadow: 0 0 10px 0px #cccccc;
        color: cornflowerblue;
}
.imgBackgound {
    height: 400px;
    width: 80%;
    border-radius: 10px 10px 0 0;
}
.category-project {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: max-content max-content min-content;
    box-shadow: var(--SombrasCaja);
    border-radius: 10px;
    background-color: #fff;
    height: 375px;
}
.informacionCategoria {
    margin: 30px;
}
.btnTodos {
    border: 0.7px solid #9da0a1;
    border-bottom: 3px solid #9da0a1;
    border-radius: 5px;
    background-color: #fff;
    color: #9da0a1;
    cursor: pointer;
    font-size: 1em;
    outline-style: none;
    height: 50px;
    width: 250px;
}
    .btnTodos:hover {
        border: 0.7px solid #3b9eee;
        border-bottom: 3px solid #3b9eee;
        color: #0e81df;
    }
    .ocultarElement {
        display: none !important;
    }
.centerCategorias {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:max-content;
    align-items:center;
    grid-column-gap:15px;
}
.categoria-image {
    background-image:url(../images/PageImage/selectCategoria.svg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    height:600px;
}
.fondo {
    display: flex;
    background: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 500;
}
.popUp {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #82898F;
    box-sizing: border-box;
    height: 90vh;
    padding: 30px;
    width: 600px;
}
.cancel {
    border: none;
    border-radius: 50%;
    background-image: url(../images/cancel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.colorWelcom {
    color: #3b9eee;
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.estylosMs {
    font-size: 1em;
    padding: 0;
    margin: 3px 3px 20px;
}
.infoProject {
    padding-left:23px;
}
.centerLogoModal {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.CenterdivFlex {
    display:flex;
    justify-content:center;
    align-items:center;
}
.OcultarModal {
    display:none;
}
.Form_Login {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.estyleText {
    border: 1px solid #9da0a1;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    outline: none;
    height: 45px;
    width: 300px;
}
    .estyleText:focus {
        border: 1px solid #3b9eee;
    }
.div_Password {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.linkContact {
    color: #3b9eee;
    font-size: 1.2em;
    text-decoration: none;
}
.btRegistroForm-Unlock {
    background-color: #fff;
    color: #cdcdcc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px #cccccc;
    outline-style: none;
    height: 50px;
    width: 230px;
}
.btRegistroForm {
    background-color: #fff;
    color: #3b9eee;
    border: none;
    border-radius: 5px;
    border: solid 1px #3b9eee;
    cursor: pointer;
    outline-style: none;
    box-shadow: 0 0 5px 0px #85bfee;
    height: 50px;
    width: 230px;
}
.formualario_Registro {
    display: grid;
    grid-gap:8px;
}
.registro_form {
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    outline: none;
    height: 45px;
    width: 240px;
}
.registro_form:focus {
   border: 1px solid #3b9eee;
}

.registro_form_Company {
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    outline: none;
    height: 45px;
    width:175px;
}
    .registro_form_Company:focus {
        border: 1px solid #3b9eee;
    }
.displayIformation {
    display: grid;
    grid-template-columns: max-content 1fr;
}
.msError {
    color: #f50c0c;
    list-style:circle;
}
.disForm {
    display:flex;
    grid-gap:10px;
    justify-content:space-between;
}
.centerBotonText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*<<<<<<<<<<<<<<<<<<< Radio Buttom <<<<<<<<<<<<<<<<<*/
.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}
.radio input {
        display: none;
    }
.radio input + span {
            line-height: 22px;
            height: 22px;
            padding-left: 22px;
            display: block;
            position: relative;
        }
.radio input + span:not(:empty) {
                padding-left: 30px;
            }
.radio input + span:before, .radio input + span:after {
                content: '';
                width: 22px;
                height: 22px;
                display: block;
                border-radius: 50%;
                left: 0;
                top: 0;
                position: absolute;
}
.radio input + span:before {
                background: #D1D7E3;
                -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
                transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
                transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
                transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
                background: #fff;
                -webkit-transform: scale(0.78);
                transform: scale(0.78);
                -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
                transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
                transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
                transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
            -webkit-transform: scale(1.04);
            transform: scale(1.04);
            background: #1a99d1;
        }
.radio input:checked + span:after {
            -webkit-transform: scale(0.4);
            transform: scale(0.4);
            -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
        }
.radio:hover input + span:before {
        -webkit-transform: scale(0.92);
        transform: scale(0.92);
    }
.radio:hover input + span:after {
        -webkit-transform: scale(0.74);
        transform: scale(0.74);
    }
.radio:hover input:checked + span:after {
        -webkit-transform: scale(0.4);
        transform: scale(0.4);
    }
.footer-project {
    background-image: linear-gradient(to right top, #ffffff, #fafafa, #f6f6f6, #f1f1f1, #ededed);
    box-sizing: border-box;
    color: #fff;
    display: grid;
    padding: 25px;
}
.footerRedirect {
    text-decoration: none;
    color: #CC19C4;
}
.footerDescripcion {
    color: #CC19C4;
    font-size: 0.7em;
    text-align: center;
    white-space: pre-line;
}
.positionFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btFooterOpt {
    border: none;
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    height: 50px;
    outline: none;
    width: 50px;
}
.displeyFoot {
    display:flex;
    justify-content:space-between;
}
.displeyFoot2 {
    display: flex;
    justify-content: space-around;
}
.resultadoFooter {
    background-image: url(../images/img_proyect/result.svg)
}
.estilosModal {
    box-shadow: 0 3px 10px 0px rgba(202, 202, 202, 0.8);
    box-sizing: border-box;
}
.tarjetasPosition {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.colorVista {
    border: none;
    background-color: #3AC5A3;
    color: #FFF;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    outline-style: none;
    width: 110px;
}
.tarjetaAyuda {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    width:100%;
}
.cardAppInfo {
    box-shadow: var(--SombrasCaja);
    border-radius:5px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 20px;
    height: 300px;
    width:27%;
}
    .cardAppInfo:hover {
        box-shadow: 0 3px 10px 0px rgba(202, 202, 202, 0.8);
        transform: translateY(-2px);
    }
.tituloInfo {
    color: rgb(95, 115, 31);
    font-size: 1.3em;
    padding: 0;
    margin: 5px 0;
}
.borderDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid #16B1CA;
    margin-top:15px;
}
.linksEstile {
    color: rgb(95, 115, 31);
    text-decoration: none;
    cursor:pointer;
}
    .linksEstile:hover {
        color: rgba(95, 115, 31,0.4);
    }
.sugerencias {
    color: #018192;
    line-height: 21px;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
}
    .sugerencias:hover {
        color: rgba(1, 129, 146,0.4);
    }
.margin0 {
    margin: 0;
}

.selectType {
    height: 45px;
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
    cursor: pointer;
    padding: 10px 26px 10px 10px;
    background-image: url(../images/PageImage/down-arrow.svg);
    background-repeat: no-repeat;
    background-position-y: center;
}
.selectType-Width {
    width:240px;
}
.selectStile {
    background-size: 5%;
    background-position-x: 95%;
}
.selectStile2 {
    background-size: 15%;
    background-position-x: 90%;
}
.contenedorSelect {
    align-items: center;
    box-sizing: border-box;
    box-shadow: var(--SombrasCaja);
    border-radius: 5px;
    background-color: #fff;
    background-size: 10%;
    background-position-y: center;
    background-position-x: 90%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    grid-column:1/2;
    grid-row:1/2;
    justify-content: space-around;
    padding: 0 40px 0 25px;
    height: 45px;
    width: 185px;
    z-index: 20;
}
    .contenedorSelect:after {
        content:"";
    }
    .imgSelect {
        background-image: url(../images/PageImage/down-arrow.svg);
    }
.postionSelect {
    align-items: flex-end;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    display: flex;
    grid-column:1/2;
    grid-row:2/3;
    z-index: 20;
}
.contenedorPais {
        align-items: center;
        box-sizing: border-box;
        background-color: #fff;
        background-size: 10%;
        background-position-y: center;
        background-position-x: 90%;
        background-repeat: no-repeat;
        display: flex;
        cursor: pointer;
        justify-content: space-around;
        padding: 0 40px 0 25px;
        height: 45px;
        width: 185px;
        z-index: 20;
}
.contenedorPais:hover {
    background-color: #E5E8E9;
}
.containerLand {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    width: fit-content;
}
    .containerLand:before {
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: var(--SombrasCaja);
        content: "";
        height: 98px;
        grid-column: 1/2;
        grid-row: 1/3;
        z-index: 10;
    }
.classAprendiceBoton {
    border-radius: 50px;
    background-color: rgb(70, 195, 226);
    color: #fff;
    height: 30px;
    width: 30px;
}
.DivUsuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 260px;
}
.ModalOpcionesPage {
    display: flex;
    background: rgba(0,0,0,.4);
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 600;
}
.centerFlex {
    display:flex;
    align-items:center;
    grid-gap:10px;
}

.ModalOpcionesConfiguraciones {

    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0px #cccccc;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
}
.sizeModal {
    height: 85%;
    width: 70%;
}
.btEstadoModalOptciones {
    border-radius: 3px;
    height: 40px;
    width: 45%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.btCancelarOptciones {
    background-color: #fff;
    color: #0e81df;
    border: none;
}

    .btCancelarOptciones:hover {
        box-shadow: 0 0 10px 0px #cccccc;
    }

.btGuardarOptciones {
    background-color: #0e81df;
    border: none;
    color: #fff;
}
/*FooterContactanosSecond*/
.contactanosFooter {
    width: 100%;
    height: 240px;
    margin-top:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(234, 236, 235, 0.7);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
}

.contenedorLinks {
    width: 99%;
    height: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 10%;
    margin-left: 10px;
}

    .imgLinks > a {
        cursor: pointer;
        text-decoration-style: none;
    }

        .imgLinks > a > img {
            margin-bottom: 15px;
        }

.bloqueAprendiz, .bloqueEmpresa, .bloqueSistema {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: rgba(110, 112, 112, 0.9);
    font-size: 16px;
}

    .bloqueAprendiz > a:hover,
    .bloqueEmpresa > a:hover,
    .bloqueSistema > a:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }

.pequeñoTitulo {
    font-size: 23px;
    font-weight: 800;
    color: black;
}
/*Header Del Sistema*/
.header {
    display: flex;
    width: 100%;
    height: 130px;
    box-shadow: var(--SombrasCaja);
    justify-content: center;
    margin-bottom: 30px;
    background: linear-gradient(58deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,102,183,0.28) 0%, rgba(1,81,153,0.18) 0%, rgba(65,186,214,0.18) 100%, rgba(179,181,185,0.2) 100%, rgba(0,212,255,0.28) 100%);
}

.contenedorHeader {
    display: flex;
    width: 99%;
    justify-content: space-between;
    height: auto;
    align-items: center;
}

.logoText {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.contenidoLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .contenidoLogo > h1 {
        margin-left: 5px;
        font-weight: 900;
        font-size: 30px;
        color: black;
    }

.iconUsers {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0 20px 0 20px;
}

.iconHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 26px 0 0;
}

    .iconHome > p {
        margin-top: 2px;
        padding: 0;
    }


.perfilUser {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 300px;
    background: #CDCDCD;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

nav, ul, il {
    margin: 0;
    padding: 0;
}

.move {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    box-shadow: var(--SombrasCaja);
}

.itemOption {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 15px 0 15px;
    margin-bottom: 10px;
}
    .itemOption:hover {
        color: rgba(12, 113, 167, 0.9);
        cursor:pointer;
        margin-left: 1.5px;
    }
.botonUser > li {
    position: relative;
    display: inline-block;
}
.botonUser li:hover .move {
    visibility: visible;
    transform: translateX(-30px);
    opacity: 1;
    z-index: 100;
}

.imgUsuario {
    height: 15px;
    width: 15px;
}
/*estilos de DescripcionAyudaUsuario*/
.contenedor-descripcion {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    grid-gap: 10px;
}
.img-userHelp {
    text-align: center;
    height: 100%;
    width: 330px;
    margin: 20px 0;
}
.tituloAyudaUsuario {
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    grid-column:1/3;
    grid-row:1/2;
}
.descriptionDiv {
    grid-column: 1/2;
    grid-row: 2/3;
}
.imageDiv {
    grid-column:2/3;
    grid-row:2/3;
}
.textoAyudaUsuario {
    text-align: initial;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 20px 0;
}
.contenedorAyudaUsu {
    display:grid;
    grid-template-columns:1fr max-content;
    grid-template-rows:max-content 1fr;
    grid-gap:5px
}
.sizeBotonDiv {
    height: 60px;
    width: 60px;
}
.bt-back-Modal {
    background: url(../images/back.png) #ffffff;
}

.bt-next-Modal {
    background: url(../images/next.png) #ffffff;
}

.botonesSlider-Modal {
    border-radius: 50%;
    border: none;
    background-size: 40%;
    background-position: 15px 15px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 3px 2px #cccccc;
    color: #000;
    height: 50px;
    outline-style: none;
    cursor: pointer;
    width: 50px;
}
.sizeImageItem {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.sizeItemApp {
    display:grid;
    justify-items:center;
}
.centerFlexSection {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}
.labelText {
    font-size:0.7em;
    cursor:pointer;
}